/Server/AnnoTask/bin
/Client/AnnoTaskClient/AnnoTaskClient/*
/Client/AnnoTaskClient/AnnoTaskClient/bin
/Client/AnnoTaskClient/AnnoTaskClient/obj
/Client/AnnoTaskClient/*.suo
/Client/AnnoTaskClient/AnnoTaskClient.v12.suo
